<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Notes</title>
</head>
<body>
  <div id="app">
      <div class="structure">
              <div class="column left">
                  <p>Дела ({{columnLeftAmount}})</p>
                  <div class="note-wrapper">
                      <template v-for="(note, index) in notes">
                          <note v-if="note.isDone === 1"
                                :input="note"
                                :middle="columnMiddleAmount"
                                :locked="lastLockedNote"
                                @change-is-done="changeIsDone"
                                @left-column-lock="leftColumnLock"
                                @edit="editNote"
                                @save="saveChanges"
                                @cancel="cancelChanges"
                          ></note>
                      </template>
                      <span v-show="columnLeftAmount < 3" class="add" @click="addNote"></span>
                  </div>

                  <div class="modal" :class="{active: leftColumnIsLock}"></div>
              </div>

              <div class="column">
                  <p>чуть-чуть ({{columnMiddleAmount}})</p>
                  <div class="note-wrapper">
                      <template v-for="(note, index) in notes">
                          <note v-if="note.isDone === 2"
                                :input="note"
                                :left="columnLeftAmount"
                                :middle="columnMiddleAmount"
                                :locked="lastLockedNote"
                                @change-is-done="changeIsDone"
                                @left-column-unlock="leftColumnUnlock"
                                @edit="editNote"
                                @save="saveChanges"
                                @cancel="cancelChanges"
                          ></note>
                      </template>
                  </div>
              </div>

              <div class="column">
                  <p>Готовые дела ({{columnRightAmount}})</p>
                  <div class="note-wrapper">
                      <template v-for="(note, index) in notes">
                          <note v-if="note.isDone === 3"
                                :input="note"
                                :middle="columnMiddleAmount"
                                :locked="lastLockedNote"
                          ></note>
                      </template>
                  </div>
              </div>
      </div> <!-- structure -->
  </div>
</body>
</html>