<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <title>Notes</title>
</head>
<body>
  <div id="app">
      <div class="note-wrapper">

          <template v-for="(note, index) in notes" :key="index">

              <div v-if="note.isDone === 1" class="left">
                  <note :input="note"></note>
              </div>

              <div v-else-if="note.isDone === 2" class="middle">
                  <note :input="note"></note>
              </div>

              <div v-else-if="note.isDone === 3" class="right" @change-is-done="changeIsDone">
                  <note :input="note"></note>
              </div>

          </template>
      </div>
  </div>
</body>
</html>